@font-face {
    font-family: 'CeraPro';
    src: url('/assets/fonts/CeraPro-Regular.woff2') format('woff2'),
         url('/assets/fonts/CeraPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'CeraPro';
    src: url('/assets/fonts/CeraPro-Bold.woff2') format('woff2'),
         url('/assets/fonts/CeraPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  